{
	"useTabs": true,
	"tabWidth": 1,
	"semi": false,
	"singleQuote": false,
	"printWidth": 150,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always",
	"jsxSingleQuote": false,
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-tailwindcss"]
}