.submit-button {
    background-color: var(--light-gray);
    border-radius: 3px;
    font-size: 0.875rem;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0.5em 20px;
    text-transform: uppercase;
    transition: display .5s;

    &:hover {
        background-color: var(--light-pink);
        color: var(--pink);
    }

    &:disabled {
        color: gray;
        cursor: not-allowed;

        &:hover {
            background-color: var(--light-gray);
        }
    }
}

