.modal {
    background-color: white;
    border: 2px solid black;
    box-shadow: 24px;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    left: 50%;
    height: 90%;
    min-width: 300px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;

    --dark-gray: #444444;
	--dark-yellow: #615e00
	--gray: #888888;
	--green: #0e7500;
	--light-blue: #ddf2f8;
	--light-gray: #e8e8e8;
	--light-green: #d0ffcc;
	--light-pink: #f2d9e5;
	--light-red: #ffdbdb;
	--light-yellow: #fffdc2;
	--maroon: #8f0000;
	--medium-gray: #cccccc;
	--medium-red: #cc0000;
	--pink: #a7396e;
	--teal: #1e6c80;
    
    h3 {
        font-size: 22px;
        margin: 0;
        padding-bottom: 5px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .header {
        border-bottom: 1px solid var(--pink);
        // margin: 5px;
        position: absolute;
        height: 50px;
        top: 5px;
        // left: 0;
        width: 98%;
        // width: /calc(100% - 10px);
        overflow: hidden;
    }

    .body {
        max-height: 80%;
        overflow-y: scroll;
        position: absolute;
        top: 50px;
        bottom: 50px;
        width: 98%;
        margin: 5px;
    }

    .footer {
        border-top: 1px solid var(--pink);
        margin-top: 5px;
        position: absolute;
        height: 50px;
        bottom: 0px;
        width: 98%;
    }

    button {
        &:not(.launch-button) {
            float: right;
        }
    
        &.close-button {
            background-color: transparent;
            color: #a7396e;
            margin: 0.1em 0;
            padding: 0.3em 0.2em;
    
            &:hover {
                background-color: #a7396ee0;
                border-radius: 5px;
                color: white;
                transition: 0.25s;
            }
        }
        
        &.submit-button {
            background-color: var(--light-gray);
            border-radius: 3px;
            font-size: 0.875rem;
            margin-top: 10px;
            padding: 0.5em 20px;
            text-transform: uppercase;
            transition: display .5s;
        
            &:hover {
                background-color: var(--light-green);
                color: var(--green);
            }
        
            &:disabled {
                color: lightgrey;
                cursor: not-allowed;
                display: none;
            }

            &.cancel-button:hover {
                background-color: var(--light-pink);
                color: var(--pink);
            }
        }
    }

    .form-content {
        font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
        padding-bottom: 5px;
        text-transform: uppercase;
        width: 100%;
        
        label {
            display: block;
            padding-top: 5px;
        }
    
        div.MuiToggleButtonGroup-root {
            padding-top: 5px;
        }
    
        .submit-button {
            font-family: inherit;
        }
    
        textarea {
            background-color: white !important;
            height: 50px;
            width: 600px;
        }

        table {
            width: 100%;

            .two-column {
                padding: 0 5px;
                width: 50%;
            }
        }
    
    }
}

