.page-button {
    text-align: center;
    padding: 5px 0;
    margin: 5px;
    font-weight: 500;
    font-size: larger;
    text-transform: uppercase;
    
    &:not(.no-border) {
        border-bottom: 1px solid var(--pink);
    }

    a {
        color: var(--pink) !important;
    }
}

@media only screen 
and ((pointer:none) or (pointer:coarse))
and (max-device-width: 1024px) {
    .page-button {
        border-bottom: none !important;
        display: inline;
        
        &:not(.no-border) {
            padding-right: 10px;
        }
    }
}